
<div class="bg-light ">
  <div class="container py-9">
    <div class="row h-100 align-items-center py-7">
      <div class="col-lg-6">
        <h3 class="font-weight-light">About Us</h3>
        <p class="lead text-muted mb-0">
          Here we are provide the service of courier in city.<br>
          We are one of the most reliable courier partners for your city shipments.<br>
          It is one of the best couriers and offers a fast and desirable delivery service online.<br>
          It is India 1st courier services where you choose the time of pick up .<br>
          Its main aim is to delivering satisfaction to the customers doorstep , in the least amount of time.<br>
          it also offers reserve logistics.<br>
          We also provide on-demand delivery with time based delivery with time based delivery as per the convenience of
          customers satisfaction.</p><br>
      </div>
      <div class="col-lg-6 d-none d-lg-block"><img src="./../../../../assets/image/12.jpg" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</div>

<div class="bg-white py-6">
  <div class="row align-items-center">
    <div class="col-lg-5 px-5 mx-auto"><img src="./../../../../assets/image/13.jpg" alt=""
        class="img-fluid mb-4 mb-lg-0"></div>
    <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
      <h3 class="font-weight-light">Our Story</h3>
      <p class="lead text-muted mb-0">
        A system can minimize shiny-new-idea syndrome, because you will have a plan for what to do when a new idea
        appears in the midst of your current project.<br>
        I always have a notebook with me,
        but sometimes I capture story ideas online.<br>
        I used to bookmark interesting articles, until I had so many stored that I never looked at them.<br>
        Since then, I’ve transitioned online links to Evernote with tags to easily search my ideas.<br>
        I know writers who love to use Pinterest to keep character boards, settings, and history research in a visually
        organized way. Others love spreadsheets.<br>
        Some keep idea boards in their writing spaces.<br>
        Find the method that you are most likely to use, and it will save you time as you collect and use your
        ideas.<br>
        Then, when you are in the middle of trying to finish a project, you know exactly where to put that idea that
        keeps interrupting your work.
      </p>
      <!-- <a href="#"
        class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a> -->
    </div>
  </div>
  <div class="container py-7">
    <div class="row align-items-center mb-5">
      <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
        <h3 class="font-weight-light">Faster. Trusted. 24*7 Service</h3>
        <p class="lead text-muted mb-0">When you help others feel important, you help yourself feel important too.</p>
      </div>
      <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="./../../../../assets/image/14.jpg" alt=""
          class="img-fluid mb-4 mb-lg-0"></div>
    </div>

  </div>
</div>

<div class="bg-light py-5">
  <div class="container py-5">
    <div class="row mb-4">
      <div class="col-lg-5">
        <h2 class="display-4 font-weight-light">Our team</h2>
        <!-- <p class="font-italic text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
      </div>
    </div>

    <div class="row text-center">
      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img
            src=" https://bootstrapious.com/i/snippets/sn-about/avatar-3.png" alt="" width="100"
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Krishna Gopal Verma</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img
            src="https://bootstrapious.com/i/snippets/sn-about/avatar-4.png" alt="" width="100"
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Bhawna Sharma</h5><span class="small text-uppercase text-muted">Management Head </span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->
      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img
            src="https://bootstrapious.com/i/snippets/sn-about/avatar-2.png" alt="" width="100"
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Vishnu Sharma</h5><span class="small text-uppercase text-muted">Advisor</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->
      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img
            src="https://bootstrapious.com/i/snippets/sn-about/avatar-1.png" alt="" width="100"
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Tuhin Das</h5><span class="small text-uppercase text-muted">Tech Head</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->



    </div>
  </div>
</div>


<footer class="bg-light pb-5">
  <div class="container text-center">
    <p class="font-italic text-muted mb-0">&copy; Copyrights Company.com All rights reserved.</p>
  </div>
</footer>
