.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}
.lead {
  font-size: 20px;
  font-weight: 300;
}

@media (min-width: 1200px){
.h3, h3 {
    font-size: 5.75rem;
}
}

.img-fluid {
  max-width: 76%;
  height: auto;
}
